In [1]:
import numpy as np
import pandas as pd

In [2]:
from lenstools.simulations import Gadget2SnapshotDE , Gadget2Snapshot
from astropy.units import Mpc, m, s

/home/sam/.local/lib/python3.10/site-packages/lenstools/utils/mpi.py:15: UserWarning: Could not import mpi4py! (if you set sys.modules['mpi4py']=None please disregard this message)
  warnings.warn(wmsg)

In [3]:
snap = Gadget2Snapshot.open('lcdmML_snap000_cdm')

In [4]:
pos_1 = snap.getPositions()

In [5]:
pos_1.info()

dtype = float32
shape = (3,)
unit = Mpc/h
class = Quantity
n_bad = 0
length = 16777216

In [6]:
velocities_1 = snap.getVelocities()

In [7]:
velocities_1.info()

dtype = float32
shape = (3,)
unit = cm / s
class = Quantity
n_bad = 0
length = 16777216

In [8]:
ids_1 = snap.getID()

In [9]:
ids_1

array([       0,        0,        7, ...,        0, 16646125,        0],
      dtype=int32)

In [10]:
ids_1.shape

(16777216,)

In [11]:
df = pd.DataFrame(ids_1, columns= ['ids_100'])
df_1 = pd.DataFrame(pos_1, columns= ['x_100','y_100','z_100'])
df_2 = pd.DataFrame(velocities_1, columns= ['v_x_100','v_y_100','v_z_100'])
df[df_1.columns] = df_1[df_1.columns]
df[df_2.columns] = df_2[df_2.columns]
df

,ids_100,x_100,y_100,z_100,v_x_100,v_y_100,v_z_100
0,0,0.191824,0.231260,0.225342,-66079628.0,-41961840.0,-49077444.0
1,0,0.808148,0.209616,0.213456,-70399160.0,-53187004.0,-53523036.0
2,7,1.436358,0.197336,0.200461,-69041816.0,-61016948.0,-61721552.0
3,0,2.042752,0.196022,0.186445,-79903416.0,-64836968.0,-68828440.0
4,56,2.663456,0.203198,0.169333,-82047344.0,-62798748.0,-77061496.0
...,...,...,...,...,...,...,...
16777211,0,157.061447,159.615631,159.624680,-70360360.0,-39824508.0,-35832220.0
16777212,16646122,157.687317,159.620712,159.609741,-68030040.0,-38249776.0,-40942120.0
16777213,0,158.316208,159.622910,159.601868,-68336848.0,-36894428.0,-46657308.0
16777214,16646125,158.936829,159.617722,159.611588,-69966600.0,-38299744.0,-45121464.0
16777215,0,159.573853,159.611877,159.619537,-63874128.0,-41136776.0,-40848864.0

In [ ]:
#it shows our dataframe does'nt have duplicates
df = df.drop_duplicates()
df

In [12]:
len(df['ids_100'].unique())

8388608

In [13]:
"""numbers show that all repeated values in 'ids_0' column are in fact 0 so if we remove them we would 
have a dataframe with unique values"""

df[df['ids_100'] == 0]

,ids_100,x_100,y_100,z_100,v_x_100,v_y_100,v_z_100
0,0,0.191824,0.231260,0.225342,-66079628.0,-41961840.0,-49077444.0
1,0,0.808148,0.209616,0.213456,-70399160.0,-53187004.0,-53523036.0
3,0,2.042752,0.196022,0.186445,-79903416.0,-64836968.0,-68828440.0
5,0,3.284749,0.199801,0.164120,-83869632.0,-63094416.0,-82229656.0
7,0,4.537788,0.182858,0.184403,-84084144.0,-71509712.0,-74188480.0
...,...,...,...,...,...,...,...
16777207,0,154.592987,159.617630,159.601974,-53847584.0,-40533972.0,-46188336.0
16777209,0,155.826508,159.615005,159.617538,-61439160.0,-39259740.0,-39606848.0
16777211,0,157.061447,159.615631,159.624680,-70360360.0,-39824508.0,-35832220.0
16777213,0,158.316208,159.622910,159.601868,-68336848.0,-36894428.0,-46657308.0
16777215,0,159.573853,159.611877,159.619537,-63874128.0,-41136776.0,-40848864.0

In [14]:
df_uniques = df[df['ids_100'] != 0]
df_uniques

,ids_100,x_100,y_100,z_100,v_x_100,v_y_100,v_z_100
2,7,1.436358,0.197336,0.200461,-69041816.0,-61016948.0,-61721552.0
4,56,2.663456,0.203198,0.169333,-82047344.0,-62798748.0,-77061496.0
6,63,3.914989,0.188897,0.175159,-83857688.0,-68700688.0,-79650152.0
8,64,5.162599,0.180517,0.188382,-83108496.0,-73119264.0,-70818120.0
10,71,6.467279,0.192443,0.225232,-57297224.0,-68799888.0,-52713276.0
...,...,...,...,...,...,...,...
16777206,16646061,153.973633,159.611221,159.604401,-51232484.0,-44136800.0,-46218260.0
16777208,16646098,155.221039,159.620911,159.604233,-53974944.0,-38164464.0,-45137340.0
16777210,16646101,156.438721,159.611771,159.627426,-69614064.0,-40800592.0,-35560020.0
16777212,16646122,157.687317,159.620712,159.609741,-68030040.0,-38249776.0,-40942120.0
16777214,16646125,158.936829,159.617722,159.611588,-69966600.0,-38299744.0,-45121464.0

In [15]:
#showing correlation between features
df.corr()

,ids_100,x_100,y_100,z_100,v_x_100,v_y_100,v_z_100
ids_100,1.000000,-5.170188e-03,8.760490e-02,2.244538e-01,-0.000005,0.001911,0.038032
x_100,-0.005170,1.000000e+00,2.697426e-07,4.134592e-08,-0.070690,0.000208,0.000027
y_100,0.087605,2.697426e-07,1.000000e+00,-8.841520e-09,0.000199,-0.074990,-0.000006
z_100,0.224454,4.134592e-08,-8.841520e-09,1.000000e+00,0.000030,-0.000007,0.170649
v_x_100,-0.000005,-7.068998e-02,1.986646e-04,3.018432e-05,1.000000,0.153223,0.020866
v_y_100,0.001911,2.081029e-04,-7.498990e-02,-6.569381e-06,0.153223,1.000000,-0.004780
v_z_100,0.038032,2.740365e-05,-6.060862e-06,1.706486e-01,0.020866,-0.004780,1.000000

In [16]:
#showing correlation between features
df_uniques.corr()

,ids_100,x_100,y_100,z_100,v_x_100,v_y_100,v_z_100
ids_100,1.000000,1.217083e-04,1.949841e-01,4.995722e-01,-0.000009,0.004253,0.084647
x_100,0.000122,1.000000e+00,-8.470962e-08,-3.129741e-07,-0.066441,0.000208,0.000027
y_100,0.194984,-8.470962e-08,1.000000e+00,-3.644084e-07,0.000198,-0.074990,-0.000007
z_100,0.499572,-3.129741e-07,-3.644084e-07,1.000000e+00,0.000028,-0.000007,0.170648
v_x_100,-0.000009,-6.644099e-02,1.980641e-04,2.832640e-05,1.000000,0.153197,0.020860
v_y_100,0.004253,2.078945e-04,-7.498996e-02,-6.613621e-06,0.153197,1.000000,-0.004782
v_z_100,0.084647,2.721815e-05,-6.571500e-06,1.706481e-01,0.020860,-0.004782,1.000000

In [ ]:
df.to_csv('RedSift100_with_ids', index = False)