In [18]:
import numpy as np
import pandas as pd

In [19]:
from lenstools.simulations import Gadget2SnapshotDE , Gadget2Snapshot
from astropy.units import Mpc, m, s

In [20]:
snap = Gadget2Snapshot.open('lcdmML_snap003_cdm')

In [21]:
pos_0 = snap.getPositions()

In [22]:
pos_0.info()

dtype = float32
shape = (3,)
unit = Mpc/h
class = Quantity
n_bad = 0
length = 16777216

In [23]:
velocities_0 = snap.getVelocities()

In [24]:
velocities_0.info()

dtype = float32
shape = (3,)
unit = cm / s
class = Quantity
n_bad = 0
length = 16777216

In [25]:
ids_0 = snap.getID()

In [26]:
ids_0

array([ 266456,       0,    4329, ...,       0, 1721146,       0],
      dtype=int32)

In [27]:
ids_0.shape

(16777216,)

In [28]:
df = pd.DataFrame(ids_0, columns= ['ids_0'])
df_1 = pd.DataFrame(pos_0, columns= ['x_0','y_0','z_0'])
df_2 = pd.DataFrame(velocities_0, columns= ['v_x_0','v_y_0','v_z_0'])
df[df_1.columns] = df_1[df_1.columns]
df[df_2.columns] = df_2[df_2.columns]
df

,ids_0,x_0,y_0,z_0,v_x_0,v_y_0,v_z_0
0,266456,5.000427,0.070431,0.046130,-18374166.0,-20623694.0,-1.396398e+07
1,0,6.068333,0.404172,0.298862,-17461164.0,-19062844.0,-1.051756e+07
2,4329,7.147660,0.197294,0.289877,-17127256.0,-19416744.0,-7.875668e+06
3,0,12.984241,0.397504,0.385719,-9515482.0,-21659594.0,-1.252142e+06
4,4368,14.339182,0.624321,0.497575,-24249658.0,-17574602.0,-5.823804e+06
...,...,...,...,...,...,...,...
16777211,0,147.301315,159.859436,0.011784,-27225736.0,-27630662.0,-4.166016e+07
16777212,1983295,147.900238,159.890396,159.874130,-28242798.0,-27993290.0,-4.216080e+07
16777213,0,151.068115,159.850510,159.584061,-44079076.0,-23877630.0,-4.051246e+07
16777214,1721146,152.227020,159.998169,159.654984,-45175056.0,-23371614.0,-3.474062e+07
16777215,0,159.585709,159.428040,159.699081,-31883268.0,-24665692.0,-2.228576e+07

In [ ]:
#it shows our dataframe has no duplicate
df = df.drop_duplicates()
df

In [29]:
len(df['ids_0'].unique())

8388609

In [30]:
#numbers show that all repeated ids have value '0'. so if we remove all '0's from ids_0 column all ids would be unique
df[df['ids_0'] == 0]

,ids_0,x_0,y_0,z_0,v_x_0,v_y_0,v_z_0
1,0,6.068333,0.404172,0.298862,-17461164.0,-19062844.0,-1.051756e+07
3,0,12.984241,0.397504,0.385719,-9515482.0,-21659594.0,-1.252142e+06
5,0,14.402027,0.229005,0.491928,-19755170.0,-18746682.0,-1.639234e+06
7,0,15.616312,0.099958,0.358875,-22923658.0,-19458882.0,-1.302916e+07
9,0,18.685081,0.130480,0.234972,-16583354.0,-18776778.0,-1.716427e+07
...,...,...,...,...,...,...,...
16777207,0,144.982239,159.712555,159.608932,-8919267.0,-23282942.0,-3.182708e+07
16777209,0,145.289291,159.597275,159.695465,-18371594.0,-23945986.0,-3.608097e+07
16777211,0,147.301315,159.859436,0.011784,-27225736.0,-27630662.0,-4.166016e+07
16777213,0,151.068115,159.850510,159.584061,-44079076.0,-23877630.0,-4.051246e+07
16777215,0,159.585709,159.428040,159.699081,-31883268.0,-24665692.0,-2.228576e+07

In [31]:
df_uniques = df[df['ids_0'] != 0]
df_uniques

,ids_0,x_0,y_0,z_0,v_x_0,v_y_0,v_z_0
0,266456,5.000427,0.070431,0.046130,-18374166.0,-20623694.0,-13963979.0
2,4329,7.147660,0.197294,0.289877,-17127256.0,-19416744.0,-7875668.5
4,4368,14.339182,0.624321,0.497575,-24249658.0,-17574602.0,-5823803.5
6,4450,14.800753,0.540739,0.182134,-23931484.0,-17768020.0,-9688534.0
8,4585,16.782351,0.126683,0.212784,-20125410.0,-19174740.0,-14678819.0
...,...,...,...,...,...,...,...
16777206,1458993,144.728012,159.524109,159.894699,-20210308.0,-25267144.0,-36536684.0
16777208,1458992,145.081635,159.406204,159.522247,-23172978.0,-25809152.0,-39042112.0
16777210,1979225,145.734421,159.751755,159.731857,-14814267.0,-23557148.0,-35579864.0
16777212,1983295,147.900238,159.890396,159.874130,-28242798.0,-27993290.0,-42160804.0
16777214,1721146,152.227020,159.998169,159.654984,-45175056.0,-23371614.0,-34740620.0

In [32]:
#showing correlation between features
df.corr()

          ids_0       x_0       y_0       z_0     v_x_0     v_y_0     v_z_0
ids_0  1.000000 -0.000199  0.074724  0.044767 -0.000073  0.025885  0.005508
x_0   -0.000199  1.000000  0.008891 -0.022438 -0.083922 -0.002192  0.005676
y_0    0.074724  0.008891  1.000000 -0.012545 -0.033379 -0.040017 -0.020613
z_0    0.044767 -0.022438 -0.012545  1.000000  0.019695  0.008465  0.116971
v_x_0 -0.000073 -0.083922 -0.033379  0.019695  1.000000  0.071583  0.030218
v_y_0  0.025885 -0.002192 -0.040017  0.008465  0.071583  1.000000 -0.015709
v_z_0  0.005508  0.005676 -0.020613  0.116971  0.030218 -0.015709  1.000000

In [33]:
#showing correlation between features
df_uniques.corr()

          ids_0       x_0       y_0       z_0     v_x_0     v_y_0     v_z_0
ids_0  1.000000 -0.000392  0.167452  0.100312  0.000061  0.058184  0.012424
x_0   -0.000392  1.000000  0.008921 -0.022486 -0.083813 -0.002066  0.005747
y_0    0.167452  0.008921  1.000000 -0.012555 -0.033447 -0.040022 -0.020521
z_0    0.100312 -0.022486 -0.012555  1.000000  0.019687  0.008428  0.116971
v_x_0  0.000061 -0.083813 -0.033447  0.019687  1.000000  0.071113  0.030393
v_y_0  0.058184 -0.002066 -0.040022  0.008428  0.071113  1.000000 -0.015456
v_z_0  0.012424  0.005747 -0.020521  0.116971  0.030393 -0.015456  1.000000

In [34]:
df.to_csv('RedSift0_with_ids', index = False)