In [1]:
import numpy as np
import pandas as pd

In [2]:
df_0 = pd.read_csv('RedSift 0')

In [3]:
df_100 = pd.read_csv('RedSift 100')

In [4]:
df_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8388608 entries, 0 to 8388607
Data columns (total 7 columns):
 #   Column  Dtype
---  ------  -----
 0   ids_0   int64
 1   x_0     float64
 2   y_0     float64
 3   z_0     float64
 4   v_x_0   float64
 5   v_y_0   float64
 6   v_z_0   float64
dtypes: float64(6), int64(1)
memory usage: 448.0 MB

In [5]:
df_100.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8388607 entries, 0 to 8388606
Data columns (total 7 columns):
 #   Column   Dtype
---  ------   -----
 0   ids_100  int64
 1   x_100    float64
 2   y_100    float64
 3   z_100    float64
 4   v_x_100  float64
 5   v_y_100  float64
 6   v_z_100  float64
dtypes: float64(6), int64(1)
memory usage: 448.0 MB

In [6]:
df_0.sort_values(by = 'ids_0')

,ids_0,x_0,y_0,z_0,v_x_0,v_y_0,v_z_0
2178848,852,79.325325,56.167152,23.386700,26348974.0,41785300.0,-26456332.0
2178526,853,30.744677,53.404070,23.306540,14750238.0,50843252.0,-24730214.0
2184891,860,106.538310,44.225320,24.515417,-6118789.5,-12972253.0,7001049.0
2184890,861,100.550835,44.134308,24.529700,-16291402.0,-6842301.0,12227420.0
2178494,864,81.500150,52.592020,23.542105,12638800.0,24986780.0,-8541854.0
...,...,...,...,...,...,...,...
2096467,16775657,146.223740,44.762530,9.312442,-15386948.0,29073322.0,-18980684.0
2117562,16775658,39.301594,42.479324,12.087649,14564023.0,36095304.0,-41351228.0
2117564,16775661,44.291440,43.091236,12.332102,-20148722.0,24749294.0,-20733418.0
2108077,16775662,72.116920,59.860650,10.067227,-49089410.0,18346150.0,5933360.0
2117565,16775698,44.434692,43.008400,12.503352,-7815043.0,22178566.0,-23464086.0

In [8]:
len(df_0.ids_0.unique())

8388608

In [7]:
df_100.sort_values(by = 'ids_100')

,ids_100,x_100,y_100,z_100,v_x_100,v_y_100,v_z_100
8191,1,0.186694,0.228653,1.420944,-70258420.0,-46796224.0,-78599290.0
8447,2,0.167361,1.476343,1.418362,-82199530.0,-46492516.0,-80001380.0
255,3,0.171220,1.478594,0.206731,-78595810.0,-45480444.0,-59323176.0
256,4,1.406099,1.472963,0.182691,-84753130.0,-50503824.0,-70658030.0
8448,5,1.386789,1.459532,1.423295,-95742080.0,-54039256.0,-77789400.0
...,...,...,...,...,...,...,...
8363517,16646139,157.736200,157.126220,155.901540,-42735090.0,-36868370.0,-18519226.0
8363518,16646140,158.955000,157.133800,155.895320,-59756720.0,-30837436.0,-24540796.0
8371710,16646141,158.960310,157.118800,157.120010,-59565204.0,-38795104.0,-33982776.0
8371454,16646142,158.946980,155.853160,157.142960,-64522350.0,-44601308.0,-25748724.0
8363262,16646143,158.958830,155.869690,155.885280,-58484588.0,-38303532.0,-25408670.0

In [15]:
#it shows that we have about 8M ids common in both dataframes
df_id = pd.concat([df_0['ids_0'], df_100['ids_100']])
len(pd.DataFrame(df_id, columns = ['qq']).qq.unique())

8766120